= javascript_pack_tag 'fib_show'
= javascript_pack_tag 'fib_number_exist_form'

h2.text-center Fib List

#fib-show-table

= link_to 'Back', root_path, data: { turbolinks_action: "replace", turbolinks: "false" }
